<br><br><br>
<div >
    <form [formGroup]="profileForm">
      <label >Username</label>
      <input formControlName="username" >
      <br>
      <label >Email</label>
      &nbsp; &nbsp; &nbsp;
      <input formControlName="email">
      <br>
      <label >Password</label>
      <input formControlName="password" type="password">
      <br> <br> 
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <button type="button" [disabled]="!profileForm.valid" (click)="login()">Sign In</button>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <button type="button" [disabled]="!profileForm.valid" (click)="register()">Sign Up</button>
    </form></div>
 <router-outlet></router-outlet> 
