<br><br><br>
<div >
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <label >Username</label>
      <input formControlName="username" >
      <br>
      <label >Email</label>
      &nbsp; &nbsp; &nbsp;
      <input formControlName="email">
      <br>
      <label >Password</label>
      <input formControlName="password">
      <br> <br> 
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <button type="submit" [disabled]="!profileForm.valid" (click)="onSubmit()">Sign In</button>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <button type="submit" [disabled]="!profileForm.valid" (click)="onSubmit()">Sign Up</button>
    </form></div>
 <router-outlet></router-outlet> 